<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery/min.js"> </script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"> </script>
		<link href="https://cdn.jsdelivr.net/npm/tailwindcss/dist/tailwind.min.css" rel="stylesheet">
		<meta charset="utf-8">
		<title>INSTAFOLLOWO</title>
	</head>
	<body>
		<div class="container">
			<div class="col-sm-6">
				<div class="panel panel-default">
					<div class="panel-heading">
						Login
					</div>
					<div class="panel-body">
						<form method="post">
							{% csrf_token %}
							{{form.as_p}}
							<input type="submit" value="login"/>
						</form>
					</div>
				</div>
			</div>
		</div>

	</body>
</html>
