{% extends 'dashboard/base.html' %}
{% block title %}INSTAUTOFOLLOWO - Instagram accounts{% endblock title %}
{% block page_header %}Instagram accounts{% endblock page_header %}
{% block content %}
<div class="box">
    <div class="box-header">
        <h3 class="box-title">Your accounts</h3>
    </div>
    <div class="box-body">
        <table id="accounts" class="table table-bordered table-hover">
            <thead>
            <tr>
                <th>Username</th>
                <th>Started</th>
                <th>Run type</th>
                <th>HashTag</th>
                <th>Other profile</th>
                <th>Created at</th>
                <th>Controls</th>
            </tr>
            </thead>
            <tbody>
            {% if account_count == 0 %}
                <tr>
                    <td colspan="7" style="text-align: center">No accounts yet</td>
                </tr>
            {% endif %}
            {% for account in accounts %}
            <tr>
                <td>{{ account.username }}</td>
                <td>{{ account.started }}</td>
                {% if account.run_type in run_types.keys %}
                    {% for name, description in run_types.items %}
                        {% if name == account.run_type %}
                            <td>{{ description }}</td>
                        {% endif %}
                    {% endfor %}
                {% else %}
                    <td>-</td>
                {% endif %}

                {% if account.hashtag != "" %}
                    <td>{{ account.hashtag }}</td>
                {% else %}
                    <td>-</td>
                {% endif %}
                {% if account.other_profile != "" %}
                    <td>{{ account.other_profile }}</td>
                {% else %}
                    <td>-</td>
                {% endif %}
                <td>{{ account.created_at }}</td>
                <td>
                    <a href="#"><span class="fa fa-play"></span></a>
                    <a href="#"><span class="fa fa-stop"></span></a>
                    <a href="{% url 'dashboard:delete_account' id=account.id %}"><span class="fa fa-times"></span></a>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        <a href="{% url 'dashboard:add_account' %}" type="button" class="btn btn-block btn-primary" style="margin-top: 20px">Add new account</a>
    </div>
</div>
{% endblock content %}
